* {
  margin: 0;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  color: #222;
}

h1,
h2,
h3 {
  margin-bottom: 20px;
}

a {
  color: #222;
  text-decoration: none;
}

/* Header */
.header {
  background: black;
  overflow: auto;
  line-height: 1.7em;
}

.header nav h1 {
  float: left;
  padding: 20px;
  margin-bottom: 0;
}

.header nav h1 a {
  color: white;
}

.header nav ul {
  float: right;
  list-style: none;
}

.header nav ul li {
  float: left;
}

.header nav ul li a {
  color: white;
  padding: 20px;
  display: block;
}

.header nav ul li a:hover,
.active {
  background: #444;
}
/*VP*/
.vp {
  height: 700px;
  background: url(../images/cafe1.jpg) center center;
  background-size: cover;
  text-align: center;
}
.vp-content {
  max-width: 600px;
  padding-top: 150px;
  color: white;
  display: block;
  margin: auto;
}
p {
  margin-bottom: 20px;
}
.separator {
  margin: 20px auto;
  height: 10px;
  width: 100px;
  background: #111;
}
.vp-content h1 {
  font-size: 50px;
}
.vp-content p {
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 1.9em;
}
.btn {
  display: inline-block;
  padding: 15px 20px;
  border-radius: 30px;
  font-weight: 700px;
  font-size: 14px;
}
.btn-primary {
  background: white;
  color: #222;
}
.btn-primary:hover {
  background: #222;
  color: white;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.container {
  max-width: 1000px;
  display: block;
  margin: auto;
}
.features {
  overflow: auto;
  padding: 100px 0px;
  text-align: center;
}
.feature {
  float: left;
  width: 50%;
}
/* ... */
.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* ... */
.btn-dark {
  background: #222;
  color: white;
}

.btn-dark:hover {
  background: white;
  color: #222;
  border: 1px solid #222;
}

/* ... */

/* reservation */

.reservation {
  padding: 100px 0px;
  text-align: center;
}

/* footer */

footer {
  background: #222;
  color: white;
  padding: 30px 0;
  text-align: center;
}

footer p {
  margin-bottom: 0px;
}
.person {
  height: 400px;
  background: url(../images/cafe3.jpg) center center;
  background-size: cover;
}

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  color: #222;
}

h1,
h2,
h3 {
  margin-bottom: 20px;
}

a {
  color: #222;
  text-decoration: none;
}

p {
  margin-bottom: 10px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.separator {
  margin: 20px auto;
  height: 10px;
  width: 100px;
  background: #111;
}

.btn {
  display: inline-block;
  font-size: 14px;
  padding: 15px 25px;
  border-radius: 30px;
  font-weight: 700;
  border: 0px;
  cursor: pointer;
}

.btn-primary {
  background: white;
  color: #222;
}

.btn-primary:hover {
  background: #222;
  color: white;
}

.btn-dark {
  background: #222;
  color: white;
}

.btn-dark:hover {
  background: white;
  color: #222;
  border: 1px solid #222;
}

.container {
  max-width: 1000px;
  display: block;
  margin: auto;
}

/* Header */

.header {
  background: black;
  overflow: auto;
  line-height: 1.7em;
}

.header nav h1 {
  float: left;
  padding: 20px;
  margin-bottom: 0;
}

.header nav h1 a {
  color: white;
}

.header nav ul {
  float: right;
  list-style: none;
}

.header nav ul li {
  float: left;
}

.header nav ul li a {
  color: white;
  padding: 20px;
  display: block;
}

.header nav ul li a:hover,
.active {
  background: #444;
}

/* value proposition */
.vp {
  height: 700px;
  background: url(https://dyma-images.s3.fr-par.scw.cloud/html-css/projects/project1/cafe1.jpg)
    center center;
  background-size: cover;
  text-align: center;
}

.vp-content {
  max-width: 600px;
  padding-top: 150px;
  color: white;
  margin: auto;
}

.vp-content h1 {
  font-size: 50px;
}

.vp-content p {
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 1.9em;
}

/* features */

.features {
  overflow: auto;
  padding: 100px 0;
  text-align: center;
}

.feature {
  float: left;
  width: 50%;
}

/* person */

.person {
  height: 500px;
  background: url(https://dyma-images.s3.fr-par.scw.cloud/html-css/projects/project1/cafe3.jpg)
    center center/cover;
}

/* reservation */

.reservation {
  padding: 100px 0px 100px 0px;
  text-align: center;
}

/* footer */

footer {
  background: #222;
  color: white;
  padding: 30px 0;
  text-align: center;
}

footer p {
  margin-bottom: 0px;
}
/* ... */
.underline {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.chip {
  display: inline-block;
  text-align: center;
  width: 30px;
  border-radius: 100%;
  background: #333;
  color: white;
}

.chip-purple {
  background: #8b135b;
}

.chip-brown {
  background: #e0810c;
}
/* ... */

/* where */

.where {
  padding: 180px 0;
  overflow: auto;
  min-height: 100vh;
}

.where-img {
  float: left;
  width: 45%;
  border: 1px solid rgb(102, 7, 7);
  border-radius: 5px;
}

.where-text {
  float: right;
  width: 50%;
}
/* ... */

/* contact */

.contact {
  padding: 180px 0px 100px 0px;
  min-height: 100vh;
}

.contact-form-container {
  max-width: 600px;
  margin: auto;
}

.contact-form-container form label {
  display: block;
  font-weight: 700;
}

.contact-form-container form input,
textarea {
  display: block;
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.contact-form-container form textarea {
  min-height: 80px;
}
